:root {
    --sfondo: #121212;
    --heading: #FFF;
    --enfasi1: #00d7b6;
    --testo: #666;
    --selezione: #AAA;
    --leftmargin: 24px;
}

::selection {
    color: #FFFFFF;
    background-color: var(--selezione);
}

::-moz-selection {
    color: #FFFFFF;
    background-color: var(--selezione);
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--sfondo);
}

.header {
    position: absolute;
    margin: inherit;
    left: 25px;
    bottom: 25px;
    width: 750px;
}

.foto-clip{
    /*
    Assicurarsi che lo sfondo sia stato aggiunto
    */  
    background-image: url(src/bg1.JPG);

    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h1 {
    position: relative;
    margin: 0 0 0 0;
    padding: 10px;
    font-size: 128pt;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 800;
    color: var(--heading);
    background-color: var(--enfasi1);
    text-transform: uppercase;
    line-height: 0.7;
}

h2 {
    position: relative;
    margin: 0 0 0 0;
    left: var(--leftmargin);
    font-size: 14pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: var(--heading);
}

h3 {
    position: relative;
    margin: 0 0 24 0;
    left: var(--leftmargin);
    font-size: 11pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: var(--heading);
}

.testo-intro {
    position: relative;
    margin: 0 0 0 0;
    left: var(--leftmargin);
    width: 450px;
    font-size: 11pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: var(--testo);
}

a {
    text-decoration: underline;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: var(--heading);
}

@media only screen and (max-width: 800px) {

    .header {
        position: absolute;
        margin: 0 0 0 0;
        left: 12px;
        width: 90%;
    }

    h1 {
        font-size: 20vw;
        line-height: 12vw;
    }

    h2 {
        font-size: 12pt;
    }

    h3 {
        font-size: 12pt;
    }

    .testo-intro {
        width: 95%;
        max-width: 350px;
    }

}